<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="595c25f0-b370-4d7a-9b14-3027fbd69ecf"
	  Publisher="CN=SternXD"
	  Version="2.0.9.2" />

	<Properties>
		<DisplayName>AegisSX2</DisplayName>
		<PublisherDisplayName>SternXD</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily
		  Name="Windows.Universal"
		  MinVersion="10.0.17763.0"
		  MaxVersionTested="10.0.26100.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Applications>
		<Application
		  Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="pcsx2_uwp.App">

			<uap:VisualElements
			  DisplayName="AegisSX2"
			  Description="AegisSX2 - PlayStation 2 emulator for Xbox Developer Mode, based on XBSX2 and PCSX2"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  BackgroundColor="transparent">

				<uap:SplashScreen Image="Assets\SplashScreen.png" />

				<uap:DefaultTile
			  ShortName="AegisSX2" />
			</uap:VisualElements>

			<Extensions>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="xbsx2" />
				</uap:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<Capability Name="internetClientServer" />
		<Capability Name="codeGeneration" />

		<uap:Capability Name="removableStorage" />
		<rescap:Capability Name="runFullTrust" />
		<rescap:Capability Name="broadFileSystemAccess" />
		<rescap:Capability Name="expandedResources" />
	</Capabilities>

</Package>
